body {
    background-color: black;
}

.brs {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: deeppink;
}

p {
    color: white;
}

a {
    color: white;
}

.ul-hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.li-hover {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
    color: deeppink;
}

.active {
    background-color: #04AA6D;
}



.grid-container {
    display: grid;
    color: white;
    grid-template-columns: 70% 30%;
    padding: 5px;
    margin: 30px;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;

}

table {
    margin: 10px 0 30px 0;
}

table tr th,
table tr td {
    background: #3B3B3B;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table tr td {
    background: #F0EFE2;
    color: #47433F;
    border-top: 1px solid #FFF;
}

.myform {
    margin: 15px 0 0 0;
}

.myform p {
    padding: 0 0 4px 0;
}

.myform span {
    float: left;
    width: 200px;
    text-align: left;
}

.myform input,
.myform textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.myform .submit {
    font: 100% arial;
    border: 1px solid;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #000;
    color: #FFF;

}

.myform textarea,
.myform select {
    font: 100% arial;
    width: 299px;
}

.myform select {
    width: 310px;
}

.myform .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
}